CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
OISD_SOURCE_URL=https://small.oisd.nl
LIST_PREFIX=oisd-small-auto
RULE_NAME=OISD Small Auto Block
CHUNK_SIZE=1000
LIST_WORKERS=8
RULE_PRECEDENCE=5000
STATE_FILE=.cf-zt-oisd-state.json
DRY_RUN=false
LANGUAGE=en
MIN_DOMAINS=5000
MAX_DROP_RATIO=0.5
MAX_LISTS=500
ALLOWLIST=
# ALLOWLIST_FILE=allowlist.txt
